/********************************************** 
 * GENERAL 
 **********************************************/

body {
  user-select: none;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/********************************************** 
 * LAYOUT 
 **********************************************/

.main_wrapper {
  padding: 10px;
  width: 500px;
  height: 550px;
}

.record_button {
  background-color: transparent;
}

.record_button:hover {
  font-weight: bold;
  transform: scale(1.05);
}

.record_page {
  margin-top: 25px;
}

.result_page {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

/********************************************** 
 * HEROES 
 **********************************************/

.hero_card {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin: 3px;
}

.t1_hero {
  border: 1px solid #000;
}

.t2_hero {
  border: 1px solid #000;
}

.t3_hero {
  border: 1px solid #000;
}

.t4_hero {
  border: 1px solid #000;
}

.hero_card:hover {
  font-weight: bold;
  transform: scale(1.05);
}

.hero_card_name {
  padding: 5px;
}

/********************************************** 
 * STANDINGS 
 **********************************************/

.standing_card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 3px;
}

.standing_card:hover {
  font-weight: bold;
  transform: scale(1.05);
}

/********************************************** 
 * RESULTS 
 **********************************************/

.standings_list {
  margin-top: 25px;
}
