/********************************************** 
 * GENERAL 
 **********************************************/

body {
  overflow: hidden;
  user-select: none;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/********************************************** 
 * COMPONENTS 
 **********************************************/

.main_wrapper {
  padding: 10px;
  width: 450px;
  height: 550px;
}

.record_button {
  background-color: transparent;
}

.record_button:hover {
  font-weight: bold;
  transform: scale(1.05);
}

.page {
  margin-top: 25px;
}

.results_page {
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.analytics_page {
  height: 468px;
}

.submit-button-wrapper {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standings_slider {
  padding-top: 25px;
  width: 80%;
  margin: auto;
}

.tabs-wrapper {
  margin-top: 25px;
}
